@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

 .card-header {
            background-color: #333;
            color: #fff;
            border-radius: 0;
        }
        .form-control {
            border-radius: 0;
        }
        .form-check-input {
            margin-top: 2px;
        }
        .btn-primary {
            border-radius: 0;
        }
        .card-body {
            background-image: url(img/osis.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 200px;
        }
.form-group {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: #aaa;
    box-shadow: none;
}